article {
  background: #fff;
}

[draggable] {
  background: lime;
}
[data-drop-effect] {
  display: inline-block;
  background: aqua;
  padding: 10px;
  margin: 5px;
  transition: background 0.25s;
}
.drop-succeeded {
  background: magenta;
}

.drag-image {
  background: url(box.svg);
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: -1;
}
